/************************************************************************
* home
************************************************************************/
// fv -------------------------------------------------------------------
.fv {
  height: 100vh;
  width: 100%;
  color: $white;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__text-box {
    margin-right: 140px;
  }

  &__text {
    font-size: 34px;
    font-weight: $fw-extraBold;
    writing-mode: vertical-rl;
    line-height: 2.5em;
  }
}

// slider -------------------------------------------------------------------
.fv-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__img {
    opacity: 0;
    transform: scale(1);
    transition: opacity 2s linear, transform 7.5s linear;
    position: relative;

    &:not(.is-active) {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.show_ {
      opacity: 1;
    }

    &.zoom_ {
      transform: scale(1.1);
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// .concept-section -------------------------------------------------------------------
.concept-section {
  background: transparent url("../img/bg.jpg") no-repeat center center / cover;

  &__inner {
    padding: 149px 0 54px;
  }

  &__content {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 118px;
    margin-left: auto;
    white-space: nowrap;
  }

  &__title {
    font-size: 28px;
    line-height: 2.18;
    letter-spacing: 0.375em;

    & > span {
      margin-top: -85px;
    }
  }

  &__text {
    letter-spacing: 0.375em;
    margin-right: 96px;
    font-size: 16px;
    line-height: 2.375;
  }

  &__footer {
    text-align: right;
  }
}

// .service -------------------------------------------------------------------
.service {
  padding: 106px 0 78px;

  &__item {
    & + & {
      margin-top: 12.2rem;
    }
  }
}

.service-item {
  &__img {
    position: relative;
    padding-top: calc(0.514285714 * 54.6875vw);
    flex: 0 0 54.6875vw;
    max-width: 54.6875vw;
    height: 0;
    overflow: hidden;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      //       right: 0;
      //       bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    margin-left: 13.7rem;
    flex: 0 1 50%;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  &:nth-child(even) {
    & .service-item__img {
      margin-left: 13.7rem;
    }

    & .service-item__body {
      flex: 0 1 auto;
      margin-left: auto;
    }
  }

  &__title {
    font-size: 3.6rem;
    line-height: (62/36);
  }

  &__text {
    margin-top: 7.5rem;
    line-height: (32/16);
  }

  &__body-footer {
    margin-top: 7.5rem;
  }
}

// recommended-section -------------------------------------------------------------------
.recommended-section {
  background: transparent url("../img/bg02.jpg") no-repeat center center / cover;

  &__list {
    margin-top: 6.6rem;
    @include l-flex-wrap(3, 9.4rem, 9.4rem, 3, 1);
  }
}

// news-section -------------------------------------------------------------------
.news-section {
  &__content {
  }

  &__main {
    margin-top: 4.6rem;
  }

  &__index {
  }

  &__body {
    @include l-flex-wrap(2, 4.6rem, 2rem, 2, 1);
  }

  &__item-link {
    display: block;
  }
}
// access-section -------------------------------------------------------------------
.access-section {
  background: transparent url("../img/bg.jpg") no-repeat center center / cover;

  &__main {
    margin-top: 8.4rem;
  }

  &__address {
  }

  &__map-area {
    margin: 6.9rem auto 0;
    width: 79.2rem;
    max-width: 100%;
  }

  &__map {
    position: relative;
    width: 100%;
    padding-top: 74.747474747%;

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.address-box {
  &__img {
  }

  &__body {
    padding: 20px 0 30px;
  }

  &__main {
  }

  &__item {
    & + & {
      margin-top: 2.4rem;
    }

    & dt {
      font-weight: $fw-extraBold;
    }

    & dd {
      margin-top: 2.4rem;
    }
  }

  &__sub {
    margin-top: 2.4rem;
    line-height: (32/16);
  }
}
