|
|
footer.l-footer.p-footer
  block footer

  .p-footer__main
    .l-container.p-footer__content
      ul.p-footer__nav
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./rooms.html") お部屋
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./menu.html") お料理
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./onsen.html") 温泉
      .p-footer__title: a(href="/") 石井花壇
      .p-footer__address
        dl
          address
            dt 住所
            dd 〒000-0000 山形県鶴岡市xxxxxxxxxx
          a(href="tel:00-0000-0000")
            dt TEL/FAX
            dd 000-0000-0000/00-0000-0000
  .p-footer__footer
    .l-container.p-footer__container
      block footer-container
      p.p-footer__copy: small Copyright &copy; 石井花壇 All Rights Reserved.
    // /.l-footer-container
// /.l-footer
