|
|
footer.l-footer.p-footer
  block footer

  .p-footer__main
    .l-container.p-footer__content
      ul.p-footer__nav
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./room.html") お部屋
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./menu.html") お料理
        li.p-footer__nav-item
          a.p-footer__nav-link(href="./onsen.html") 温泉
      .p-footer__title.u-letter-spacing-l: a(href="/") 石井花壇
      .p-footer__address
        address.p-footer__address-item
          p 〒000-0000
          p.u-letter-spacing-l 山形県鶴岡市xxxxxxxxxx
        .p-footer__address-item
          a(href="tel:000-0000-0000") TEL.000-0000-0000
          p FAX.00-0000-0000
  .p-footer__footer
    .l-container.p-footer__container
      block footer-container
      p.p-footer__copy: small Copyright &copy; 石井花壇 All Rights Reserved.
    // /.l-footer-container
// /.l-footer
