block variables

header.header
  .inner.header-inner
    .header-content
      #{logo_tag}.header-logo: a(href="/"): img(src="./img/header-logo  .png", alt="ロゴ")

      nav.header-nav
        ul
          - for(let i = 1; i <= 5; i++)
            li: a(href="#") MENU#{i}
      // /.header-nav

      .header-drawer
        .drawer
          button.drawer-icon.js-drawer.for-drawer(type="button" "data-target"="for-drawer" "aria-controls"="drawer-content1" "aria-expanded"="false")
            |
            span.drawer-bars
              - for(let i = 0; i < 3; i++)
                span.drawer-bar
            |
          .drawer-bg.for-drawer.js-drawer("data-target"="for-drawer" "aria-controls"="drawer-content1" "aria-expanded"="false")
          #drawer-content1.drawer-content.for-drawer("aria-hidden"="true") コンテンツ部分
      // /.header-drawer
    // /.header-content
  // /.header-inner
// /.header
|
|
