.p-article-list{
	width: 100%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	&__item{
		padding: 2rem;
		border-bottom: 1px solid #000000;
	}
	&__item__header{
		font-weight: bold;
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	&__item__header--red{
		color: red;
	}
	&__item__description{
		font-size: 1.4rem;
	}
}
