.p-header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 100%;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 3.2rem;
    letter-spacing: 0.18em;
    line-height: 4rem;
    margin-right: 12rem;
    font-family: "凸版文久見出し明朝";
    font-weight: $fw-extraBold;
    vertical-align: middle;

    @include mq(tab) {
      margin-right: 8rem;
    }

    @include mq(sp) {
      margin-right: 0;
      font-size: 2.4rem;
      line-height: 3rem;
    }

    a {
      transition: all 0.3s ease 0s;

      &:hover,
      &:focus {
        opacity: $opacity;
      }
    }

    img {
      width: 4rem;
      height: 4rem;
      display: inline-block;
      margin-right: 1.5rem;

      @include mq(sp) {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
      }
    }
  }

  &__nav {
    @include mq("sp") {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      font-weight: $fw-extraBold;

      & + li {
        margin-left: 3rem;
      }

      > a {
        color: inherit;
        display: block;
        transition: all 0.3s ease 0s;

        &:hover {
          opacity: $opacity;
        }
      }
    }
  }

  &__right {
    margin-left: auto;

    @include mq(sp) {
      margin-right: 1rem;
    }
  }

  &__cv-btn {
    color: $white;
    width: 17rem;
    height: 5.4rem;
    background-color: #978F10;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-extraBold;

    @include mq(sp) {
      width: auto;
      height: auto;
      padding: 0.5em 1em;
    }

    &::before {
      content: '';
      background: transparent url('../img/calender.png') no-repeat center center / cover;
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem;
    }
  }
}

