.l-footer {
  margin-top: auto;
  background-color: $footer-bg-color;
  padding: 30px 0;

  > .l-container {
  }
}

.l-footer-copy {
  font-size: 14px;

  @include mq(sp) {
    font-size: 12px;
  }
}
