.l-header {
  position: static;
  width: 100%;
  top: $header-height * -1.1;
  background: transparent;
  left: 0;
  height: $header-height;
  z-index: map-get($layer, "header");
  padding: 0 30px;
  transition: top 0.5s ease;
  color: $white;

  body:not(.home) & {
    position: fixed;
    top: 0;
    background: $header-bg-color;
    color: $text-color;
  }
  &.fixed {
    position: fixed;
    top: 0;
    background: $header-bg-color;
    color: $text-color;
  }

  @include mq(tab) {
    height: $header-height-sp;
  }
}
